<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI WebUI - Chat</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='NeoAI.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css">

    <!-- 引用本地 CSS 文件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='config.css') }}">
</head>

<body>
    <div class="gradient-transparent"></div>

    <script src="{{ url_for('static', filename='menu.js') }}"></script>
    <div class="header" onclick="showMenu()">{{ "web_ui_titel" | translate }}</div>
    <div id="menuOverlay" class="hidden"></div>

    <div id="chat_container" class="chat-container">
        <div class="none"></div>
        <div class="input-container">
            <input type="text" id="user_input" class="form-control" placeholder="请输入你的需求..." />
            <button class="btn btn-primary" onclick="interact()">发送</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>