<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>

<body>
    <div class="menu-container">
        <div class="menu-header">
            <h1 class="menu-header-title">{{ "menu_header_title" | translate }}</h1>

        </div>
        <div class="menu-content">
            <button class="menu-button" onclick="window.location.href = '/'">{{ "menu_chat" | translate }}</button>
            <button class="menu-button" onclick="window.location.href = '/config'">{{ "menu_config" | translate }}</button>
            <button class="menu-button" onclick="window.location.href = '/'">{{ "menu_help" | translate }}</button>
            <button class="menu-button" onclick="window.location.href = 'https://github.com/thed0ublec/NeoAI'">{{
                "menu_github" | translate }}</button>
            <button class="menu-button" style="margin-top: 40px;" onclick="closeMenu()">{{ "menu_close" | translate
                }}</button>


                <h3>NeoAI - {{ version }}</h3>
        </div>
    </div>
</body>

</html>